version: '3.8'

services:
  app:
    build: .
    container_name: lappbot-app
    restart: always
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - VALKEY_HOST=valkey
      - VALKEY_PORT=6379
    depends_on:
      - db
      - valkey
  db:
    image: postgres:15-alpine
    container_name: lappbot-postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./.postgres_data:/var/lib/postgresql/data

  valkey:
    image: valkey/valkey:latest
    container_name: lappbot-valkey
    restart: always
    ports:
      - "${VALKEY_PORT}:6379"
    command: valkey-server --requirepass ${VALKEY_PASSWORD}
    volumes:
      - valkey_data:/data

  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    container_name: lappbot-api
    restart: always
    environment:
      TELEGRAM_API_ID: ${TELEGRAM_API_ID}
      TELEGRAM_API_HASH: ${TELEGRAM_API_HASH}
      TELEGRAM_LOCAL: 1
    ports:
      - "8081:8081"
    volumes:
      - telegram_bot_api_data:/var/lib/telegram-bot-api

volumes:
  valkey_data:
  telegram_bot_api_data:
