[Unit]
Description=Lappbot Application
After=lappbot-postgres.service lappbot-valkey.service

[Container]
Image=lappbot-app:latest
EnvironmentFile=%h/lappbot/.env
Network=lappbot.network
ContainerName=lappbot-app

[Service]
Restart=always
