[Unit]
Description=Lappbot Valkey Cache
After=network-online.target

[Container]
Image=valkey/valkey:latest
EnvironmentFile=%h/lappbot/.env
# Use sh to expand the environment variable provided by EnvironmentFile
Exec=sh -c "valkey-server --requirepass $VALKEY_PASSWORD"
Network=lappbot.network
Volume=lappbot-valkey-data:/data
ContainerName=lappbot-valkey

[Service]
Restart=always
